#bucketlist-page {
    margin: 0px;
    padding: 0px;
    background-color: #F1F6F9; 
}

.title h1 {
    font-size: 45px; 
    font-family: Georgia; 
    color: #2c2c2c;
    text-align: center;
    letter-spacing: 10px;
}

.bucketlist {
    background-color: #e0e0e0;
    max-width: fit-content;
    margin: 100px;
    border: 1px solid #2c2c2c;
    border-radius: 20px;
}

.list {
    margin: 50px;
}

.list h2 {
    text-align: center;
}

.list p {
    font-family: Arial;
    font-size: 16px;
    color: #2c2c2c;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    line-height: 1.5em;
}

.list-title {
    font-family: Georgia;
    font-size: 30px;
    color: #2c2c2c;
    text-decoration: none;
}

.list-title:hover {
    color: #5f5f5f;
    text-decoration: underline;
}

.image-content {
    text-align: center;
}

.image {
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.image:hover {
    border: 1px solid #2c2c2c;
}

.bottom-nav {
    height: 40px;
    width: 100%;
    background-color: #2c2c2c;
}
.container {
    text-align: right;
    padding: 10px 20px 5px 5px;
}
#go-back {
    margin: 5px 5px 5px 5px;
    color: #F1F6F9;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia;
}
#go-back:hover {
    color: #6d6d6d;
}